<ng-container *ngIf="deliveries && deliveries.length">
  <ng-container *ngFor="let delivery of deliveries">
    <app-delivery-card [delivery]="delivery" [isLastDelivery]="!delivery?.otherDeliveries"></app-delivery-card>
    <ng-container *ngIf="delivery?.otherDeliveries">
      <app-delivery-card
        *ngFor="let otherDelivery of delivery.otherDeliveries; let last = last"
        [delivery]="otherDelivery"
        [isLastDelivery]="last"
      ></app-delivery-card>
    </ng-container>
  </ng-container>
</ng-container>
