.nav-container {
  z-index: 1000;
  transition: width 0.5s ease-in-out;
  position: relative;

  &--open {
    height: 100%;
    width: 259px;
    transform: translate3d(0, 0, 0);
  }

  &--close {
    height: 0;
    width: 0;
    transform: translate3d(-259px, 0, 0);
  }
}

.nav-container-content {
  height: 100%;
  width: 259px;
  color: #FFFFFF;
  background: #4aa8c4;
  transition: transform 0.5s ease-in-out;

  &--open {
    transform: translate3d(0, 0, 0);
  }

  &--close {
    transform: translate3d(-259px, 0, 0);
  }

  &__items {
    padding-top: 100px;
  }

  &__line {
    margin: 0 20px;
  }
}

.line {
  height: 1px;
  background: #63bdd7;
}

.item {
  font-weight: 600;
  letter-spacing: 0.7px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 20px;

  &__title {
    padding-left: 10px;
  }

  &__image {
    height: 24px;
    width: 24px;
    background-size: cover;
    background-position: center;
  }

  &:hover, &--active {
    background: #419ebf;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.nav-button {
  cursor: pointer;
  padding: 5px;
  width: 20px;
  margin-left: 10px;

  &__brick {
    height: 2px;
    margin-bottom: 5px;
    background-color: #FFFFFF;

    &--up {
      width: 17px;
    }

    &--center {
      width: 14px;
    }

    &--down {
      width: 20px;
    }
  }
}

.nav-container-mobile {
  display: flex;
  width: 100%;
  background: #4aa8c4;
  height: 60px;
  position: fixed;
  align-items: center;
  justify-content: start;
}

.nav-container-mobile-content {
  &__item {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
    padding-right: 35px;
  }
}

@media (max-width: 576px) {
  .nav-container {
    transition: none;
    &--open {
      position: fixed;
    }
  }
}
