<div class="nav-container" [ngClass]="isActiveMenu ? 'nav-container--open' : 'nav-container--close'">
  <div
    class="nav-container-content"
    [ngClass]="isActiveMenu ? 'nav-container-content--open' : 'nav-container-content--close'"
  >
<!--    <ng-container *ngTemplateOutlet="toggleButton"></ng-container>-->

    <div class="nav-container-content__items">
      <div
        *ngFor="let item of menu"
        class="nav-container-content__item item"
        [routerLink]="item.route"
        [routerLinkActive]="['item--active']"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="clickMenuItem()"
      >
        <div class="item__image" [ngStyle]="{'background-image': 'url(' + item.icon + ')'}"></div>
        <span class="item__title">{{ item.title }}</span>
      </div>
      <ng-container *ngIf="isAdmin">
        <div class="nav-container-content__line line"></div>
        <div class="nav-container-content__item item" [routerLink]="'/'">
          <div class="item__image" [ngStyle]="{'background-image': 'url(./assets/icons/icon-logout-24.png)'}"></div>
          <span class="item__title">Выход</span>
        </div>
        <div class="nav-container-content__item item" [routerLink]="'/'">
          <div class="item__image" [ngStyle]="{'background-image': 'url(./assets/icons/icon-arrow-left-24.png)'}"></div>
          <span class="item__title">Вернуться на сайт</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="isMobileView">
  <div class="nav-container-mobile">
    <ng-container *ngTemplateOutlet="toggleButton"></ng-container>
    <div class="nav-container-mobile-content__item">{{activeMenuItem.title}}</div>
  </div>
</ng-container>

<ng-template #toggleButton>
  <div class="nav-button" (click)="toggleTopMenu()">
    <div class="nav-button__brick nav-button__brick--up"></div>
    <div class="nav-button__brick nav-button__brick--center"></div>
    <div class="nav-button__brick nav-button__brick--down"></div>
  </div>
</ng-template>
