<div class="step">
  <div class="step__stepper stepper">
    <div
      *ngIf="timelineStatus === timelineStatusEnum.Last || timelineStatus === timelineStatusEnum.Middle"
      class="stepper__line line line--last"
    ></div>
    <div class="stepper__icon" [ngStyle]="{'background-image': 'url(./assets/icons/icon-marker-map-18.png)'}"></div>
    <div *ngIf="timelineStatus === timelineStatusEnum.Middle" class="stepper__line line line--first"></div>
  </div>
  <div class="step__content">
    <ng-content></ng-content>
  </div>
</div>
