.step {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &__stepper {
    position: relative;
  }

  &__content {
    margin-left: 15px;
    display: inline-block;
  }
}

.stepper {
  &__line {
    left: 7px;
    height: 100%;
    position: absolute;
  }

  &__icon {
    height: 18px;
    width: 18px;
  }
}

.line {
  border-left: 3px dotted #acacac52;

  &--last {
    top: -76%;
  }

  &--first {
    top: auto;
  }
}
