<div class="deliveries-filter card">
  <div class="deliveries-filter__header header">
    <div class="header__title title underline underline--dashed" (click)="toggleShowFilter()">
      <span>Фильтр</span>
      <div class="title__icon icon"
           [ngStyle]="{ 'background-image': isShowFilter
           ? 'url(./assets/icons/icon-arrow-top-24.png)'
           : 'url(./assets/icons/icon-arrow-bottom-24.png)'}">
      </div>
    </div>
    <div *ngIf="isShowFilter" class="header__icon icon"
         (click)="clearFilter()"
         [ngStyle]="{ 'background-image': 'url(./assets/icons/icon-clear-filter-20.png)' }"></div>
  </div>
  <div *ngIf="isShowFilter" class="deliveries-filter__form">
    <app-deliveries-filter-form [(ngModel)]="deliveriesFilterValue"
                                (searchEmit)="searchDeliveries()"></app-deliveries-filter-form>
  </div>
</div>


