.deliveries-filter {
  &__form {
    margin-bottom: 10px;
    margin-top: 25px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  &__icon {
    height: 18px;
    width: 18px;
  }
}

.title {
  font-weight: 600;
  letter-spacing: 0.7px;
  position: relative;
  cursor: pointer;

  &__icon {
    height: 24px;
    width: 24px;
    position: absolute;
    top: -2px;
    right: -25px;
  }
}

.underline {
  text-decoration: none;

  &--dashed {
    border-bottom: 1px dashed #419ebf;
  }
}

