<form
  class="deliveries-filter-form"
  *ngIf="deliveriesFilterForm"
  [formGroup]="deliveriesFilterForm"
>
  <div class="deliveries-filter-form__field field field--date">
    <div class="field__title title">C</div>
    <input [formControlName]="'dateStart'" class="input input--date" type="datetime-local">
  </div>

  <div class="deliveries-filter-form__field field field--date">
    <div class="field__title title">По</div>
    <input [formControlName]="'dateEnd'"  class="input input--date" type="datetime-local">
  </div>

  <div class="deliveries-filter-form__field field field--id">
    <div class="field__title title">Внешний ID</div>
    <input [formControlName]="'outsideId'"  class="input input--text" type="text">
  </div>

  <div class="deliveries-filter-form__field field field--id">
    <div class="field__title title">ID доставки</div>
    <input [formControlName]="'deliveryId'"  class="input input--text" type="text">
  </div>

  <div class="deliveries-filter-form__field field field--id">
    <div class="field__title title">ID группы</div>
    <input [formControlName]="'groupId'"  class="input input--text" type="text">
  </div>

  <div class="deliveries-filter-form__field field field--name">
    <div class="field__title title">Наименование</div>
    <input [formControlName]="'name'"  class="input input--text" type="text">
  </div>

  <div class="deliveries-filter-form__button" (click)="searchDeliveries()">
    <button class="button--search">Найти</button>
  </div>
</form>
