.deliveries-filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-right: -1rem;

  &__field {
    margin-right: 1rem;
  }

  &__button {
    flex: 1 0 auto;
    width: 110px;
    margin-right: 1rem;
  }
}

.field {
  &__title {
    margin-bottom: 6px;
  }
}

.input {
  outline: none;
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  width: -webkit-fill-available;

  &--date {
    border: none;
    border-bottom: 1px dashed #419ebf;
    border-radius: 0;
    color: #419ebf;
  }

  &--text {
    border: 1px solid #acacac52;
    border-radius: 5px;
    padding-left: 10px;
  }
}

.title {
  color: #acacac;
  font-size: 13px;
  letter-spacing: 0.2px;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.button--search {
  height: 35px;
  width: 100%;
  background: #4fa6c1;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}


@media (min-width: 576px) {
  .field {
    &--date {
      flex: 1 0 auto;
      width: 150px;
    }

    &--id {
      flex: 1 0 auto;
      max-width: 133px;
      min-width: 100px;
    }

    &--name {
      flex: 1 0 auto;
    }
  }
}

@media (max-width: 576px) {
  .deliveries-filter-form {
    &__field, &__button {
      margin-bottom: 15px;
    }
  }
    .field {
    &--date {
      flex: 1 0 auto;
      width: 145px;
    }

    &--id {
      flex: 1 0 25%;
      min-width: 90px;
    }

    &--name {
      flex: 1 0 auto;
    }
  }
}

@media (max-width: 445px) {
  .field {
    &--date, &--id, &--name  {
      flex: 1 0 auto;
    }
  }
}
