.admin-container {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: #eff3f6;

  &__content {
    width: 100%;
    height: 100%;
    padding: 30px 50px;
  }
}

@media (max-width: 576px) {
  .admin-container {
    &__content {
      padding: 80px 50px;
    }
  }
}
