<div class="admin-container">
  <app-nav-menu [menu]="menu" [activeMenuItem]="activeMenuItem" [isAdmin]="true"></app-nav-menu>
  <div class="admin-container__content">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
