/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
}


.card {
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.icon {
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

input[type="text"] {
  padding: 0;
}
