<ng-container *ngIf="delivery">

  <div class="delivery-card card" [style.margin-bottom]="isLastDelivery ? '15px' : '2px'">

    <div *ngIf="delivery?.sender" class="delivery-card__header header">
      <div class="header__item item item--repeat">
        <div
          class="header__icon icon icon--repeat"
          [ngStyle]="{'background-image': 'url(./assets/icons/icon-repeat-18.png)'}"
        ></div>
        <span>Повторить {{ delivery?.otherDeliveries ? 'группу' : '' }}</span>
      </div>
      <div class="header__item item item--close">
        <div
          class="header__icon icon icon--close"
          [ngStyle]="{'background-image': 'url(./assets/icons/icon-ok-22.png)'}"
        ></div>
        <span>Закрыть {{ delivery?.otherDeliveries ? 'группу' : '' }}</span>
      </div>
      <div *ngIf="delivery?.otherDeliveries" class="header__item item item--number-group">
        <span>№ группы {{ delivery?.description?.information?.number }}</span>
      </div>
    </div>

    <ng-container *ngIf="!isMobileView || (isMobileView && delivery?.sender)">
      <div class="delivery-card__content content">
        <div *ngIf="delivery?.description" class="content__description">
          <div class="title">
            <div class="icon icon--run" [ngStyle]="{'background-image': 'url(./assets/icons/icon-run-18.png)'}"></div>
            <span>{{delivery?.description?.status}}</span>
          </div>
          <div class="subtitle">
            <span>{{delivery?.description?.name}}</span>
          </div>
          <div *ngIf="delivery?.description?.information" class="information">
            <span class="information__item item--number">№ {{delivery?.description?.information?.number}}</span>
            <span class="information__item item--date">{{delivery?.description?.information?.date}}</span>
            <div class="information__item item--time">
              <div class="icon icon--time"
                   [ngStyle]="{'background-image': 'url(./assets/icons/icon-time-16.png)'}"></div>
              <span>{{delivery?.description?.information?.time}}</span>
            </div>
          </div>
        </div>
        <div class="content__values values">
          <div class="values__container">
            <div class="values__title-block">
              <span class="values__title--bold">{{delivery?.price}}</span>
              <div class="icon values--icon"
                   [ngStyle]="{'background-image': 'url(./assets/icons/icon-rub-16.png)'}"></div>
            </div>
            <span class="values__subtitle">стоимость</span>
          </div>

          <div class="values__container">
            <span class="values__title--bold">{{delivery?.weight}} кг</span>
            <span class="values__subtitle">вес</span>
          </div>
        </div>
        <div class="content__addresses addresses">
          <app-timeline-vertical *ngIf="delivery?.sender">
            <span class="addresses__title">Отправитель: </span>
            <span>{{ delivery.sender }}</span>
          </app-timeline-vertical>
          <app-timeline-vertical
            *ngIf="delivery?.recipient"
            [timelineStatus]="isLastDelivery ? timelineStatusEnum.Last : timelineStatusEnum.Middle"
          >
            <span class="addresses__title">Получатель: </span>
            <span>{{ delivery.recipient }}</span>
          </app-timeline-vertical>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isMobileView && !delivery?.sender">
      <app-timeline-vertical
        *ngIf="delivery?.recipient"
        [timelineStatus]="isLastDelivery ? timelineStatusEnum.Last : timelineStatusEnum.Middle"
      >
        <div class="delivery-card__content content">
          <div *ngIf="delivery?.description" class="content__description">
            <div class="title">
              <div class="icon icon--run" [ngStyle]="{'background-image': 'url(./assets/icons/icon-run-18.png)'}"></div>
              <span>{{delivery?.description?.status}}</span>
            </div>
            <div class="subtitle">
              <span>{{delivery?.description?.name}}</span>
            </div>
            <div *ngIf="delivery?.description?.information" class="information">
              <span class="information__item item--number">№ {{delivery?.description?.information?.number}}</span>
              <span class="information__item item--date">{{delivery?.description?.information?.date}}</span>
              <div class="information__item item--time">
                <div class="icon icon--time"
                     [ngStyle]="{'background-image': 'url(./assets/icons/icon-time-16.png)'}"></div>
                <span>{{delivery?.description?.information?.time}}</span>
              </div>
            </div>
          </div>
          <div class="content__values values">
            <div class="values__container">
              <div class="values__title-block">
                <span class="values__title--bold">{{delivery?.price}}</span>
                <div class="icon values--icon"
                     [ngStyle]="{'background-image': 'url(./assets/icons/icon-rub-16.png)'}"></div>
              </div>
              <span class="values__subtitle">стоимость</span>
            </div>

            <div class="values__container">
              <span class="values__title--bold">{{delivery?.weight}} кг</span>
              <span class="values__subtitle">вес</span>
            </div>
          </div>
          <div class="content__addresses addresses">
            <span class="addresses__title">Получатель: </span>
            <span>{{ delivery.recipient }}</span>
          </div>
        </div>
      </app-timeline-vertical>
    </ng-container>

  </div>
</ng-container>
