.header {
  display: flex;
  align-items: center;
  color: #4fa6c1;
  font-size: 13px;
  letter-spacing: 0.2px;

  &__item {
    margin-right: 25px;
  }
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &--number-group, &--date, &--time {
    color: #acacac;
  }

  &--number {
    color: #4fa6c1;
  }

  &--time {
    display: flex;
    align-items: center;
  }
}

.icon {
  &--close {
    height: 22px;
    width: 22px;
    margin-right: 2px;
  }

  &--repeat, &--run {
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }

  &--time {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
}

.content {
  display: flex;
  align-items: center;

  &__description, &__values {
    flex: 1 0 25%;
  }

  &__addresses {
    flex: 1 0 50%;
  }

  &__description {
    line-height: 20px;
  }
}

.title, .information {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
}

.subtitle, .information {
  font-size: 15px;
}

.information {
  &__item {
    margin-right: 10px;
  }
}

.values {
  display: flex;
  justify-content: center;

  &__container {
    margin-right: 20%;
    display: flex;
    flex-direction: column;
  }

  &__title-block {
    display: flex;
  }

  &__title {
    &--bold {
      letter-spacing: 0.5px;
      font-weight: 600;
    }
  }

  &__subtitle {
    font-size: 13px;
    color: #acacac;
  }

  &--icon {
    height: 16px;
    width: 16px;
  }
}

.addresses {
    font-size: 15px;
    line-height: 21px;

    &__title {
      font-weight: 600;
    }
}


@media (max-width: 576px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: start;

    &__description, &__values {
      width: 100%;
    }

    &__addresses {
      padding-right: 20px;
      word-break: break-word;
    }
  }

  .values {
    justify-content: start;
    &__title {
      &--bold {
        letter-spacing: 0.3px;
        font-weight: 600;
      }
    }

    &__subtitle {
      font-size: 11px;
    }

    &--icon {
      height: 16px;
      width: 16px;
    }
  }

  .delivery-card {
    &__header {
      margin-bottom: 15px;
    }
  }

  .content {
    &__description {
      margin-bottom: 15px;
    }

    &__values {
      margin-bottom: 15px;
    }
  }

  .header {
    font-size: 11px;

    &__item {
      margin-right: 10px;
    }
  }

  .icon {
    &--close {
      height: 16px;
      width: 16px;
    }

    &--repeat, &--run {
      height: 14px;
      width: 14px;
    }
  }

  .subtitle, .information {
    font-size: 13px;
  }

  .information {
    &__item {
      margin-right: 10px;
    }
  }

  .addresses {
    font-size: 13px;
    line-height: 19px;
  }

  .title {
    font-size: 14px;
  }
}
