<div class="deliveries">
  <app-deliveries-filter (searchEmit)="searchDeliveries($event)"></app-deliveries-filter>

  <div *ngIf="(loading$ | async)" class="deliveries__loading">
    <ng-container *ngTemplateOutlet="loadingTmpl"></ng-container>
  </div>

  <ng-container *ngIf="deliveries$ | async as deliveries">
    <div *ngIf="deliveries" class="deliveries__list">
      <app-deliveries-list [setDeliveries]="deliveries"></app-deliveries-list>
    </div>
  </ng-container>
</div>

<ng-template #loadingTmpl>
  <span>Загрузка..</span>
</ng-template>


